* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0B1416;
    color: #f2f2f2;
}

p {
    font-size: 19px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 2rem 2rem;
}

.main-header {
    border-bottom: 1px solid #333435; 
}

.logo {
    font-size: 1.8rem;
}

a {
    color: #f2f2f2;
    text-decoration: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

#add-new-book {
    font-size: 1.2rem;
    height: 45px;
    width: 110px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 12rem;
    width: 91.9rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #212931;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#add-book,
#close-popup {
    font-size: 1.2rem;
    height: 45px;
    width: 150px;
    background-color: #438145;
    color: #fff;
}

/* Style the pop-up */
#popup {
    display: none; /* Hide the pop-up by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #212931;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  #card-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style the pop-up content */
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Style the close button */
  #close-popup {
    background-color: #a55050;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style the button that triggers the pop-up */
  #add-new-book {
    background-color: #41aa45;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }